.tooltip {
  background: #f2f2f2;
  width: 300px;
  margin:0;
  position: absolute;
  z-index: 500000;
  .arrow {
    background: red;
    position: absolute;
    width: 10px;
    height: 10px;
  }
}

.tooltip .content {
  padding: 10px;
}

.tooltip-content {
  display:none;
}
