@target-bg: rgba(0, 0, 100, 1);

html, body {
  margin:0;
  padding: 0;
}
.hidden {
  display:none;
}
.target {
  width: 140px;
  height: 60px;
  background: @target-bg;
}

.demo1 {
  border: 1px dashed gray;
  // height: 400px;
  overflow:scroll;
  padding: 50px;
  .target {
    // margin: 350px 0;
  }
}

.demo2 {
  margin: 10px 0;
  border: 1px dashed gray;
  // height: 400px;
  padding: 50px;

  .target {
    float:right;
    margin:0;
  }
}
