head
  title Tooltip - Konstantin Denerz
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  include dev
  include head-lib

  link(rel='stylesheet', type='text/css', href='style/core.css')
  script(src='scripts/core.js', type='text/javascript')
